.git
.pytest_cache
.vscode
.vs
data/
chatbot/
lichess_bot_auto_logs/
azure/chessbot-backend_key.pem
engines/bot/model/legacy/
engines/bot/game_logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pgn
*.pt
server/tests/
